<h1>Fan Ti</h1>

<form action="/result" method="get" role="form">
  <div class="form-group">
    <label>簡體字</label>
    <input name="source" type="text" class="form-control" name="keyword" placeholder="轉換的來源" autocomplete="off" />
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
